<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloggit - Surround yourself with the right people</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>


    <header class="header1">
        <a href="#" class="logo">BLOGGIT</a>

        <div class="menu-btn">
            <div class="menu-btn__burger"></div>
        </div>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li> <a href="/search">Search</a> </li>
                <li><a href="/post/compose">Compose</a></li>
                <li><a href="/bookmarks">Bookmarks</a></li>
                <li><a href="/user/profile">Profile</a></li>
                <!-- <li><a href="/add_category">Category</a></li> -->
                <li><a href="/logout">Logout</a></li>



            </ul>
        </nav>
        <div class="clearfix"></div>
    </header>