<div class="form">
    <form action="/category/add" method="POST" enctype="multipart/form-data">
        <input type="text" name="CategoryTitle" placeholder="Name of the category..." required>
        <input type="file" id="image" name="image" accept="image/*" required>
    </form> 
</div>